

        <!-- Blog Post -->
        {% for p in object_list %}
        <div class="card mb-4">
      <!--     <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">   -->
          <div class="card-body">
            <h2 class="card-title">{{ p.title }}</h2>
            <p class="card-text">{{ p.content|truncatewords:40 }}</p>
            <p>{{p.id}}</p>
            <a href="readmore?id ={{p.id}}" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on January 1, 2017 by
            <a href="#">{{ p.author }}</a>
          </div>
        </div>
        {% endfor %}

        
        

        