{% extends 'base.html' %}
{% block CenterData %}
<br>
<h3> Category List</h3>   <br>
<table border="2px solid black" width='600' cellpadding='10' cellspacing = '10' >
    <thead style="text-align: center;background-color:#9ea4a8;">
        <th> Titile </th>
        <th colspan="2"> Action </th>
    </thead>
    <tbody style="font-size: 18px;">
        {% for cat in object_list %}
    <tr>
        <td>{{ cat.cname }}</td>
        <td><a href="deletecat/{{cat.cname}}">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
    
</table>

<br>

{% endblock %}