{% extends 'base.html' %}
{% block CenterData %} <br>
<h2> Write your blog here </h2>      <br>
<form action="" method="POST">
    {% csrf_token %}
    <table border="1" width = '750' cellspacing ='4' cellpadding = '5'>
       <!-- {{ form.as_table }}  -->
       
         <tr>
             <td>Title </td>
             <td> {{ form.title }}</td>
         </tr>
         <tr>
            <td> Category </td>
            <td> {{ form.category }}</td>
        </tr>
        <tr>
            <td> Content </td>
            <td> {{ form.content }}</td>
        </tr>
        <tr>
            <td>
                <input type="submit">
            </td>
        </tr>
    </table>
</form>
<br><br>
{% endblock %}